body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
}

img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-color: transparent;
}


.container {
    font-size: 0;
    max-width: 920px;
    margin: 0 auto;
}

[class^="col-"] {
    width: calc(100% / 3);
    min-height: 100vh;
}
/* 
.col-1 {
    background-color: red;
}

.col-2 {
    background-color: green;
}

.col-3 {
    background-color: blue;
} */



@media (max-width: 600px) {
    img {
        padding: 0;
    }
}